@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(http://weloveiconfonts.com/api/?family=brandico);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}
